

<div>
    <a href="/" class="d-flex align-items-end mb-2 mb-lg-0 text-dark text-decoration-none">
    </a>
    <span style="float:right;">
        <div class="dropdown text-end justify-content-end justify-content-lg-end">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" asp-controller="auth" asp-action="logout">Sign out</a></li>
            </ul>
        </div>
    </span>
</div>